body{
    background-color: white;
    color: #333333;
    margin:0;

}
.bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color:white;
      margin: 6px 0;
      transition: 0.4s;
}

#index{
	background-image: url("Pictures/DSC01713-1.jpg");
    height: 800px;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-color:black;
    flex-wrap: wrap;
    display: -ms-flexbox;
}
 @media screen and (max-width:600px) {
     #index{
         margin:auto;
         height: 1000px;
         flex-wrap: wrap;
         -webkit-background-size: cover;
         display: -ms-flexbox;
     }
    }

.landingPage {
	outline: none;
	background: transparent;
	font-size:30px;
	border:none;
    font-family:"Times New Roman", Times, serif;
    text-decoration: none;
}
.landingPage p{
    padding-top: 50px;
    color:#D0D0D0;
    font-size: 30px;
}

@media only screen and (max-width: 700px){
  .landingPage p{
      font-size: 15px;
  }
}

.dropdown {
    display: inline-block;
}
.landingPage img{
    width: 100%;
    height: 100%;
    margin: 0;
}

@media only screen and (max-width: 700px){
  .landingPage img{
      height: 100%;
      width: 100%;
      margin: 0;
  }
}


#mybtn{
      position: absolute;
      right: 10px;
      outline:none;
      margin-top:10px;
      background-color:transparent;
      text-decoration: none;
      font-size: 25px;
      border: none;
      cursor: pointer;
}

.modal {
    margin-top: 1em;
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}


.modal-content{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.modal-content a {
    margin-top: 1.6em;
    font-weight:lighter;
    font-size: 20px;
    color:  white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family:Gill Sans, sans-serif;
}

.modal-content a:hover{
	color: grey;
}



.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

div{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100px;
}

div a{
	font-size: 20px;
	text-decoration: none;
	color:grey;
}


#indexFooter{
	color:white;
}

.icons{
    text-align: center;
	margin: 5px;
	margin-bottom: 30px;
}

.icon1 a:hover{
	color: black;
}

.icon2 a:hover{
	color: black;
}

.icon3 a:hover{
	color: black;
}
.icon4 a:hover{
    color: black;
}

.icon1,.icon2,.icon3,.icon4{
	padding: 20px;
}

.picturesRow{
	justify-content: center;
	display: -ms-flexbox;
	display: flex;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 30%;
    padding: 10px 10px;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .div {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

.column img:hover {
	cursor: pointer;
    transform: scale(1.05);

}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 10px 0;
  height: 150px;
}

.modal-content2, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transforminde:scale(0)}
  to {transform:scale(1)}
}

.close2 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content2 {
    width: 100%;
  }
}


h1 {
	text-align: center;
	margin-top: 40px;
	font-size: 30px;
    font-family:"Times New Roman", Times, serif;
	color: #BEBEBE;
}

@media only screen and (max-width: 700px){
  h1{
      font-size: 20px;
  }
}
.contentRow{
    text-align: center;
	display: inline;
	white-space: pre-line;
    flex-wrap: wrap;
    display: -ms-flexbox;
}

@media screen and (max-width: 700px) {
    .contentRow p{
        width:100%;
        font-size: 20px;
    }
}

.bookRow{
	text-align: center;
	display: inline;
	white-space: pre-line;
    flex-wrap: wrap;
    display: -ms-flexbox;
}


@media screen and (max-width: 700px) {
    .bookRow p{
        width:100%;
        text-align: center;
        white-space: normal;
    }
}



@media only screen and (max-width: 700px){
  .bigones{
      height: 90%;
      width: 90%;
  }
}

span{
    cursor: pointer;
	color: #A0A0A0;
	font-size:25px;
    font-family:"Times New Roman", Times, serif;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .contentRow span{
        font-size: 20px;
    }
}

span:hover{
	color: black;
}


.movie{
	padding: 10px;
	width: 300px;

}

.movie:hover{
	cursor: pointer;

}

.movieRow{
	text-align: center;
	display: inline;
	white-space: pre-line;
    flex-wrap: wrap;
    display: -ms-flexbox;
}


@media screen and (max-width: 700px) {
    #ana{
        height: 25%;
        width: 25%;
    }
}


#helloyou{
    text-align: center;
	display: inline;
	white-space: pre-line;
	margin-top: 20px;
    flex-wrap: wrap;
    display: -ms-flexbox;
}


#signature{
	font-size: 30px;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

.source a:hover{
    color:red;
    font-size: 30px;
}