{% extends "whiteindex.html" %}

{% block title %}{{ super() }} - About{% endblock %}

{% block content %}
<div id="helloyou">
    <p><img id="ana" src="static/Pictures/me.png" alt="face picture" width="185px" height="195px"></p>
        <p>Nice to meet you! </p>
        <p>I am a Computer Science student.
            I currently live in Montreal, Canada. I was born in Mexico City.
            My parents are both Mexican. We moved to Montreal when I was 7 years old.
            I've lived in Montreal most of my life but I had the opportunity to live abroad a few times as I was growing up.
        </p>
        <p><b>What is THEGLOME?</b></p>
            <p><b>THEGLOME</b> is a simple blog that includes topics related to mental health, the environment, well-being,
            technology, books and movies recommendations, and life advice.
            It is a project that aims to encourage women and girls around
            the world to reach their full potential without fear or guilt.</p>
           <p><b>Why creating THEGLOME?</b></p>
           <p>I could not find a blog for women that does not revolve around hair, makeup, lifestyle and clothing.
               So, I decided to create one because I believe that is is as important to take care of the inside
               as much as we take care of the outside.
           </p>
          <p>As Eckart Tolle says in his book A New Earth:</p>
    <p><em>"If you get the inside right, the outside will fall into place."</em></p>

        <p>I was not sure if this blog should be in Spanish, English or French. I did not want to limit the amount of
            people that could be interested in THEGLOME's content, that is why the blog is in English.
            I am looking forward to translate the blog in all three languages eventually.</p>

        <p>Maybe this will fail and nobody will ever see this, but if anyone see this, well I hope you enjoy it!
            If you have any suggestions feel free to contact me:
            <a href ="/contact"><span> Click here</span></a></p>
        <div id="signature">- AnaVCL</div>
</div>
{%  endblock %}