{% extends "WhiteIndex.html" %}

{% block title %}{{ super() }} - About{% endblock %}

{% block content %}
<div id="helloyou">
	<a href="https://www.instagram.com/anavictorialucio/" target="_blank"><img id="ana" src="static/Pictures/me.png" alt="my face is supposed to show up here" width="200px" height="200px"></a>
        <p>Hola! Nice to meet you!</p>
        <p>I am a Computer Science student.
            I currently live in Montreal, Canada. I was born in Mexico city.
            My parents are both Mexican. We moved to Montreal when I was 7 years old.
            I have lived in Montreal most of my life but I had the opportunity travel and
            live abroad as I was growing up.
        </p>
        <p><b>What is THEGLOME?</b></p>
            <p><b>THEGLOME</b> is a simple blog that includes topics related to mental health, the environment, well-being,
            technology, recommendations and advice.
            It is a project that aims to encourage women and girls around
            the world to reach their full potential without fear or guilt.</p>
            <p><b>#YoCreoEnTi</b> is in Spanish because I believe
            that there are many girls in Latin America that don't hear this often enough.
            Coming from that background myself, I want to tell these women and girls that someone believes in them and
            in whatever they want to achieve.</p>
           <p><b>Why creating THEGLOME?</b><p>
              <p>
               I could not find a blog for women that does not revolve around hair, makeup and style/clothing.
               So, I decided to create one because I believe that is is as important to take care of the inside
               as much as we take care of the outside.
           </p>
          <p>As Eckart Tolle says in his book A New Earth:</p>
    <em>"If you get the inside right, the outside will fall into place."</em>

        <p>I was not sure if this blog should be in Spanish, English or French. I was
            hoping to reach to women and girls in Latin America but I do not want to limit the amont of
            people that could be interested in THEGLOME's content.
            I am looking forward to translate the blog in all three languages though!</p>

        <p>Maybe this will fail and nobody will ever see this but if anyone see this, well I hope you enjoy it!
            If you have any suggestions feel free to contact me:
            <a href ="/Contact"><span> Click here</span></a></p>
        <div id="signature">- AnaVCL</div>
</div>
{%  endblock %}