{% extends "WhiteIndex.html" %}

{% block title %}{{ super() }} - Books{% endblock %}

{% block content %}
<h1>Books</h1>
		<div class="bookRow">
			<p>June 2020:</p>
				<p><a href ="/PowerNow"><span>The Power of Now - Eckart Tolle</span></a>

					<img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px">
					            _____________________</p>
			   <!--
			   <p><a href="/NewEarth"><span>A New Earth - Eckart Tolle</span></a>
				<img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px">
				              _____________________</p>
			   <p><a href="/Flow"><span>Flow - Mihaly Csikszentmihalyi</span></a>
				<img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px">
					          _____________________</p>
			   <p><a href="Fuck.html"><span>The Subtle Art of Not Giving a Fuck - Mark Mason</span></a>
				<img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px">
					           _____________________</p>
              -->
		    </div>
{%  endblock %}