{% extends "Mind.html" %}

{% block title %}{{ super() }} - Bucket List{% endblock %}

{% block content %}
 <div class="bookRow">
<h1>The Bucket List</h1>
<div class="bookRow">
    <p>I am currently writing a bucket list for the next years of my life. I am currently 24 years old.
        I had planned that by my 25th birthday I would have graduated from college and I would start to undertake bigger projects.
        For me a bucket list is a way to keep track of the accomplishments that you want to meet during your lifetime.
        Some items in the list are personal and others are more professional.
        Some items seem unattainable but exciting.
        Some items are simple and not so exciting. </p>
    <p><b>Why is this important?</b>
        During the quarantine, like many of your, I had the time to
        think and overthink. I found myself losing some of my previous goals,
         because I realized that the goals I was pursuing were not making me happy.
        At this time, we are somewhat walking around a blank canvas.
        That is why I think it is the perfect moment to do a bucket list or reassessment of the things
        that you want to accomplish from now on and the things that do not serve you anymore.</p>
    <p><b>You are in control:</b>
        It is important to keep in mind that your list is personal.
        Do not think of people's opinion while you add items to your list.
        You are allowed to change it and modify it as you wish.
        It is important to accept that failure will be part of it, don't let that stop you from adding items to your list.
        Think of it this way:
        In case failure comes, imagine yourself being very old but satisfied with the idea that at least you tried.
        Lots of people do not even try. Trying is an accomplishment. Therefore, failing is an accomplishment.
    <p><br>
    <p><img src="static/Pictures/bucket.png" alt="Bucket List">
    <p><b>The Past Bucket List:</b>
        Whether we like it or not, we are all outside of our comfort zone. Take advantage of this discomfort,
        not only to plan your future but too introspect and be grateful of what you have already accomplished.
        While doing my bucket list I thought that I should also do a bucket list of the things I have accomplished in the past.
        I think it is very important to retrospect when planning future items for two reasons.
    <p><b>One is that you can be grateful for what you already have accomplished.</b>
        It does not have to be huge projects; small victories count too.
    You can be proud of the things that took courage to accomplish.</p>
    <p><b>Another reason is that it gives you a sense of accomplishment and gives you confidence to achieve more.</b>
        Looking at past small victories tells you that you are very capable to undertake future plans.
        If you cannot think of something you accomplished in the past. Start keeping track of your accomplishments today.
        Your first item on your list can be: Do a bucket list for my future life.
        While writing your bucket list, don’t limit yourself to anything.
        Remember that one way or another the universe listens to what is in your heart.
        If you truly desire something the universe will have your back.
        Never lose hope. Even when the darkest days take over.
        Remember that you are in control of your thoughts and writing them on paper helps you organize those thoughts.
        If you are in control of your thoughts and desires, you are in control of your life.</p>
    <p><b>Starting Tip:</b>
       If the items in your bucket list seem impossible to achieve,or
        maybe you do not have the motivation to start adding items to your list, then do this:
       Tomorrow plan a ToDo list.
       Add one item to your list.
       Do the thing and check the item.
       After tomorrow, plan another ToDo List.
       Add two items to your list.
       Do them and check both items.
       And so on...
       Prove yourself that you can commit to yourself.
       Prove yourself that you are capable to undertake small steps.
       The bigger steps will come with constance.
    Wake up thinking that at night you will go to bed with satisfaction knowing that your items in the list have been checked.</p>
    </p>
 </div>
 </div>
{%  endblock %}