{% extends "whiteindex.html" %}

{% block title %}{{ super() }} - Collection{% endblock %}

{% block content %}
<h1>Photography Collection</h1>
		<div class="picturesRow">
			<div class="column">
                <!--<img class="testImg" src="static/Tokyo/IMG_20170924_204844.jpg" alt="Tokyo, Japan">
				<img class="testImg" src="static/China/DSC01580.jpg" alt=" Chengdu, China">
				<img class="testImg" src="static/China/DSC00753(1).jpg" alt="The Great Wall of China, Winter">
				<img class="testImg" src="static/China/DSC02633.jpg" alt="The Great Wall of China" >
				<img class="testImg" src="static/China/DSC01713-1.jpg" alt=" Xinjin Village, China">
				<img class="testImg" src="static/China/DSC01402 (1).jpg" alt="Zhangjiajie, China">
				<img class="testImg" src="static/China/DSC01808-1.jpg" alt="Shanghai, China">
				<img class="testImg" src="static/Thailand/IMG_20171013_152926.png" alt="Bangkok, Thailand" >
				<img class="testImg" src="static/Thailand/IMG_20171005_112728.jpg" alt="Phuket, Thailand" >
				<img class="testImg" src="static/Thailand/IMG_20171013_142636.jpg" alt="Chinatown, Thailand">
				<img class="testImg" src="static/Thailand/IMG_20171011_172109.jpg" alt="Bangkok, Thailand">
				<img class="testImg" src="static/Tokyo/IMG_20170923_152941.jpg" alt="Omote-sandō, Tokyo" >
				<img class="testImg" src="static/China/DSC01467.jpg" alt="A flower">
				<img class="testImg" src="static/Thailand/IMG_20171010_151952.jpg" alt="Thailand">
				<img class="testImg" src="static/Hong Kong/IMG_20171016_191142.jpg" alt="Hong Kong">-->
				<img class="testImg" src="static/China/2020-05-23 07.39.43 1.jpg" alt="Shanghai, China">
                <img class="testImg" src="static/Montreal/2020-05-16 12.49.53 1.jpg" alt="Montreal">
                <img class="testImg" src="static/Montreal/IMG_20191127_160348.jpg" alt="Montreal">
                <img class="testImg" src="static/China/2020-05-25 05.57.33 1.jpg" alt="Shanghai, China">
                <img class="testImg" src="static/Mexico/2020-05-15 05.19.27 1.jpg" alt="Mexico">
			</div>

			<div class="column">
				<!--<img class="testImg" src="static/Hong Kong/IMG_20171017_164839.jpg" alt="Financial District, Hong Kong.">
				<img class="testImg" src="static/Hong Kong/IMG_20171019_173541.jpg" alt="Hong Kong" >
				<img class="testImg" src="static/Hong Kong/IMG_20170918_060331.jpg" alt="Hong Kong " >
				<img class="testImg" src="static/Hong Kong/IMG_20170917_232434.jpg" alt= "Kowloon, Hong Kong" >
				<img class="testImg" src="static/Thailand/IMG_20171002_170821.jpg" alt="Phuket, Thailand">
				<img class="testImg" src="static/Thailand/IMG_20171005_123346.jpg" alt="Phuket">
				<img class="testImg" src="static/Thailand/IMG_20171011_125639.jpg" alt="Bangkok">
				<img class="testImg" src="static/Thailand/IMG_20171009_180001.jpg" alt="Hong Kong" >
				<img class="testImg" src="static/Hong Kong/IMG_20171018_192817.jpg"  alt="Phuket, Thailand">
				<img class="testImg" src="static/China/IMG_0429.jpg" alt="Great Wall of China" >
				<img class="testImg" src="static/China/DSC02465.jpg" alt="Beijing, China" >
				<img class="testImg" src="static/China/DSC01574.jpg" alt="Chengdu, China">-->
				<img  class="testImg" src="static/Tokyo/IMG_20170920_131731.jpg" alt="Miraikan Museum, Tokyo, Japan" >
                <img class="testImg" src="static/Montreal/IMG_20171024_195808.jpg" alt="Montreal">
                <img class="testImg" src="static/Montreal/2020-05-16 12.50.47 1.jpg" alt="Montreal">
                <img class="testImg" src="static/Mexico/2020-05-16 12.51.11 1.jpg" alt="Mexico, Los Cabos San Lucas">
                <img class="testImg" src="static/Hong Kong/2020-05-16 11.08.04 1.jpg" alt="Victoria Peak, Hong Kong">
			</div>

			<div class="column">
               <!-- <img  class="testImg" src="static/Singapore/IMG_20170928_113844.jpg" alt=" Art and Science Museum, Singapore" >
				<img  class="testImg" src="static/Singapore/IMG_20170928_144802.jpg" alt="Garden by the Bay, Singapore">
				<img  class="testImg" src="static/Singapore/IMG_20170928_190025.jpg"  alt="Marina Bay Sands, Singapore">
				<img  class="testImg" src="static/Singapore/IMG_20170928_194524.jpg" alt="Cracked Egg, Singapore" >
				<img  class="testImg" src="static/Singapore/IMG_20170930_162439.jpg" alt="Downtown Singapore">
				<img  class="testImg" src="static/Singapore/IMG_20170928_145738.jpg" alt="Could Forest. Singapore">
				<img  class="testImg" src="static/Singapore/IMG_20170928_111251.jpg" alt="Cracked Egg, Singapore" >
				<img  class="testImg" src="static/Tokyo/IMG_20170919_175109.jpg" alt="Shibuya. Tokyo, Japan">
				<img  class="testImg" src="static/Tokyo/IMG_20170919_181432.jpg" alt="Tokyo">
				<img  class="testImg" src="static/Tokyo/IMG_20170921_190935.jpg" alt="Shibuya Crossing, Tokyo">
				<img  class="testImg" src="static/Tokyo/IMG_20170923_121656.jpg" alt="Tokyo">
				<img class="testImg" src="static/Hong Kong/IMG_20171018_192720.jpg" alt="Hong Kong">
				<img class="testImg" src="static/China/DSC02630.jpg" alt="China">-->
				<img class="testImg" src="static/China/DSC01700-1.jpg" alt="Hunan, China">
				<img  class="testImg" src="static/Singapore/IMG_20170928_191951.jpg" alt="Garden by the Bay, Singapore">
                <img class="testImg" src="static/Hong Kong/IMG_20171016_181343.jpg" alt="Hong Kong">
                <img class="testImg" src="static/Mexico/2020-05-25 06.12.38 1.jpg" alt="Mexico, Los Cabos San Lucas">
                <img class="testImg" src="static/Mexico/2020-05-16 12.51.32 1.jpg" alt="Mexico, Los Cabos San Lucas">
                <img class="testImg" src="static/Mexico/2020-05-16 12.52.16 1.jpg" alt="Mexico, Los Cabos San Lucas">
			</div>
		</div>
		<div id="myModal2" class="modal2">
		  <span class="close2">&times;</span>
		  <img class="modal-content2" id="img01">
		  <div id="caption"></div>
		</div>

		<script>
			var modal2 = document.getElementById("myModal2");
			var img = document.getElementById("myImg");
			var imgs = document.getElementsByClassName("testImg");
			var captionText = document.getElementById("caption");

			for (i of imgs)
			{
				i.onclick = function(){
				  modal2.style.display = "block";
				  modalImg.src = this.src;
				  captionText.innerHTML = this.alt;
				}
			}

			var modalImg = document.getElementById("img01");
			var span = document.getElementsByClassName("close2")[0];
			span.onclick = function() {
				  modal2.style.display = "none";
				}
		</script>

{%  endblock %}