{% extends "WhiteIndex.html" %}

{% block title %}{{ super() }} - Contact{% endblock %}

{% block content %}
<h1>Contact & Other</h1>
<div class="icons">
    <div class="icon1">
        <a href="mailto:theglome@outlook.com" target="_blank" rel="noopener noreferrer"><img src="static/Pictures/email.png" alt="email" width="40px" height="40px"> TheGlome@outlook.com</a>
    </div>
    <div class="icon2">
        <a href="https://www.instagram.com/theglome/" target="_blank"><img src="static/Pictures/ig.png" alt="instagram" width="40px" height="40px">  @TheGlome</a>
    </div>
    <div class="icon3">
        <a href="https://www.youtube.com/channel/UC646MSL1eo9kqt7Owi1Lftw?view_as=subscriber" target="_blank"><img src="static/Pictures/yt.png" alt="youtube" width="40px" height="40px">    Ana Victoria Lucio</a>
    </div>
    <br>
    <div class="icon4">
        <a href="https://open.spotify.com/user/tacotortilla" target="_blank"><img src="static/Pictures/icons8-spotify-150.png" alt="spotify" width="40px" height="40px"> @Tacotortilla</a>
    </div>
    <br>
    <div>
        <pre>   <a href="/About" style="color:black;">ABOUT</a></pre>
    </div>
</div>

{%  endblock %}