{% extends "whiteindex.html" %}

{% block title %}{{ super() }} - Diaries{% endblock %}

{% block content %}
<h1>The Lone Diaries</h1>
    <div class="contentRow">
        <p>August 2020
                       _____________________</p>
            <p><a href ="/"><span>Living alone as A Single Woman.</span></a>
            </p>
        <p>July 2020
                       _____________________</p>
            <p><a href="https://www.youtube.com/watch?v=5SrQRiKuunI" target="_blank"><span>Hazte cargo de tu vida con la meta de ser feliz</span>

            <img class="bigones" src="static/Pictures/thum1.png" alt="youtube" width="50%" height="50%"></a></p>
    </div>
{%  endblock %}