{% extends "whiteindex.html" %}

{% block title %}{{ super() }} - Diaries{% endblock %}

{% block content %}
<h1>The Lone Diaries</h1>
    <div class="contentRow">
        <p>July 2020:</p>
            <p><a href="https://www.youtube.com/watch?v=5SrQRiKuunI" target="_blank"><span>Hazte cargo de tu vida con la meta de ser feliz</span>

                            _____________________

            <img src="static/Pictures/thum1.png" alt="youtube" width="50%" height="50%"></a></a></p>

        <p>August 2020:</p>
            <p><a href ="/diary2"><span>Living Alone as a Single Woman</span></a>

                            _____________________</p>
    </div>
{%  endblock %}