{% extends "movies.html" %}

{% block title %}{{ super() }} - High Society (Korean){% endblock %}

{% block content %}
<h1>HIGH SOCIETY (KOREAN) </h1>
<div class ="bookRow">
   <p><b> Why is this here? </b></p>
    <p>One thing I learned from this movie is the meaning of marriage.
        I think marriage and love in general is portrayed as the perfect
        union of two people who are overly fond for each other. Often people tend to forget that when reality takes
        over the romantic illusion of marriage, the couple usually disintegrates.
        High Society depicts a couple losing a bit of themselves
        in the mist of professional success. </p>
    <p><b> What is this movie about? </b></p>
    <p> In their attempt to achieve higher positions in their respective jobs,
        both see themselves facing new individual worlds.
        Power, money, fame and other advantages take over their minds.
        Both are secretly tempted by these new advantages so much that they barely talk about their work to each other.
        I won't spoil the end of the movie but the woman in the picture might not be his wife.</p>

    <p><img class ="bigones" src="static/Movies/High-Society6.png" alt="High Society Movie Clip"></p><p><small>photo source: https://www.themoviebeat.com/high-society-2018-korean-movie/</small></p>
       <p><b> Thoughts: </b></p>
        <p> In my opinion, most people would let go of their partner
            at the mercy of success and money. Would anyone be able to resist the temptations that
            come with a higher position in society? Is is possible that a married couple work in the
            same business and succeed to put their differences aside?  </p>
        <p><b> Lesson: </b></p>
        <p> Marriage is all about marrying the person that
            let’s you be free but is ready to fight with you for the sake of the couple.
            Even if both partners walk different paths, they have to have the freedom to do so.
            Even if both partners make mistakes, there should be a common ground at the core of any strong marriage.
            This movie has nothing to do with the overrated idea of "marriage" we are all use to see in
            American movies. </p>
    <p><b> Where can I watch it? </b></p>
    <p class="source"><a href="https://www.netflix.com/watch/81026705?trackId=13752289&tctx=0%2C0%2C594c4f7fcc73d411de16164d4d5437747b39d328%3Af5fce3a2804287fc7c3b4760c663b18c03722455%2C594c4f7fcc73d411de16164d4d5437747b39d328%3Af5fce3a2804287fc7c3b4760c663b18c03722455%2C%2C"> ON NETFLIX</a></p>
</div>
    <div class="contentRow">
        <p>
            <b>Rating</b>

        <img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px">
					               _____________________</p>
</div>

{%  endblock %}