{% extends "whiteindex.html" %}

{% block title %}{{ super() }} - Movies{% endblock %}

{% block content %}
<h1>Monthly Movie Recommendation</h1>
		<div class="movieRow">
                <p>August 2020:</p><p>
                       <a href="/solteras"><span>Solteras (Mexican)</span></a>

                       <img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px">
					               _____________________

                       <a href="/solteras"><img class="bigones" src="static/Movies/solteras.jpg" alt="Solteras"></a>
                   </p>
            <br>
				<p>July 2020:</p><p>
                       <a href="/highsociety"><span>High Society (Korean)</span></a>

                       <img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px">
					               _____________________

                       <a href="/highsociety"><img class="bigones" src="static/Movies/photo998783.jpg" alt="High Society"></a>
				<small> photo source: https://www.hancinema.net/hancinema-s-film-review-high-society--movie-121829.html</small>
                   </p>
		</div>
{%  endblock %}