{% extends "whiteindex.html" %}

{% block title %}{{ super() }} - Movies{% endblock %}

{% block content %}
<h1>Movies</h1>
		<div class="movieRow">
				<p>July 2020:</p>
			       <p>
                       <a href="/highsociety"><span>High Society (Korean)</span></a>

                       <img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px">
					               _____________________

                       <a href="/highsociety"><img src="static/Movies/photo998783.jpg" alt="High Society"></a>
				<q> photo source: https://www.hancinema.net/hancinema-s-film-review-high-society--movie-121829.html</q>
                   </p>
			<!--
			<p>
					<span>Breakfast at Tiffany's</span>
					<img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px">
					               _____________________

					 <a href="/Breakfast"><img src="static/Movies/Audrey.jpg" alt="Breakfast at Tiffany's"></a>
				<q> photo source: https://www.pinterest.ca/pin/322429654543442014/</q>
			</p>

			<p>
					<span>Solteras (Mexican)</span>
					<img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px"><img src="static/Movies/iconfinder_Cinema_ticket_2_753957.png" width="20px" height="20px">
					               _____________________

					 <a href="/Solteras"><img src="static/Movies/solteras.jpg" alt="Solteras"></a>
				<q> photo source: screenshot from Netflix</q>
			</p>
		    -->
		</div>
{%  endblock %}