{% extends "books.html" %}

{% block title %}{{ super() }} - The Power of Now{% endblock %}

{% block content %}
 <h1>THE POWER OF NOW</h1>
<div class="bookRow">
    <p>
        <img class="bigones" src="static/Books/IMG_20190927_203852.jpg" alt="The Power of Now by Eckart Tolle" width="20%" height="20%">
    <p><b>What is this about?</b></p>
        <p>The Power of Now is an abstract piece of art taking the form of a dialogue between the reader
        and the author. I would recommend to read A New Earth before The Power of Now, which is also written by Eckart Tolle.
        A New Earth presents concepts such as the pain-body and the ego in a more general form while.
        The Power of Now introduces these concepts in a simpler way. It is confusing because The Power of Now was published first.</p>
    <p><b>Why is this a good read?</b></p>
        <p>This book is a powerful manifesto for those who are willing to follow the path of enlightenment. The author's
        teachings will lead you to accept the present moment as it is and be in peace with your life. This book will
        also teach you to be aware of your ego and thereby, learn to control it when it arises. It is a spiritual book
        that can be of good advice at any point in your life but specially in difficult moments.</p>
    <h2>Here are some of the best advices I found in the book</h2>
    <p><b>1. Thinking is a chronic disease.</b></p>
        <p>The mind is a powerful but dangerous tool.
        Eckart describes the mind as being dangerous when you let it get out of control or when you let it control you.
        When the mind uses you, you identify with it unconsciously. Therefore,
        freedom begins when we realize that we are not your mind.
        You are not the thinker but you can observe yourself thinking.
        A way of becoming aware of this is asking yourself if the choices that you make throughout
        the day are conscious or automatic. Don't forget that these choices include your thoughts.</p>
    <p><b>2. Emotions are simply your body's reaction to your mind.</b></p>
       <p> The more you identify with your mind the more automatically your body will read to it.
        The less present or aware of your thoughts, the less you will be in control of your emotions.
        Strong unconscious emotional patterns are loaded guns ready to fire as external events happen.
        These emotions are the reflection of your mind. Allow the emotion to be there and try to feel it without reacting to it.
        Stand still and feel the fire burn inside. Be aware of it without letting it control you.</p>
    <p><b>3. Fear is nothing more than a mind projection.</b></p>
       <p> Fear can arise in different forms. You mind not recognize it right away, it can be hidden behind anxiety, tension,
       anger, tiredness, and insecurity. When it comes to fear it is important to bring your mind back in the present moment.
       In the present moment, there is nothing going wrong. You are entirely okay at this moment. Fear is nothing more than a
       mental projection. It is not reality. Eckart claims that only as small percentage of people have gone beyond their minds,
       so it is very likely that everyone around you also lives in fear. Why not be conscious of it and use it at your advantage?</p>
    <p><b>4. Time creates suffering.</b></p>
        <p>Why are you always trying to get somewhere?
        Why having children or finishing a bachelor's degree by a certain age is so important to people?
        We have a complete obscured perception of time. It is important to be aware that life loses its sparkle as
        we let our limited perception of time take over. It is important to be ware of the mind creating a false obsession with
        a better future and a suffering past. Remember that your mind will try to escape the present moment by clinging to this idea of time.
        Time is bound to your mind. Bring your mind to the present moment to discover the power of now.</p>
    <p><b>Rating</b>
 </div>
    <div class="contentRow"><p><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px"><img src="static/Books/iconfinder_coffee-cup-tray_353406.png" width="25px" height="25px">
    _____________________</p></div>

{%  endblock %}