{% extends "Books.html" %}

{% block title %}{{ super() }} - The Power of Now{% endblock %}

{% block content %}
 <h1>THE POWER OF NOW</h1>
    <div class="bookRow">
        <p><img src="static/Books/IMG_20190927_203852.jpg" alt="The Power of Now by Eckart Tolle" width="20%" height="20%">
        <p><b>What is this about?</b></p>
        <p>
            The Power of Now is an abstract piece of art taking the form of a dialogue between the reader and the author.
            I would recommend to read A New Earth before The Power of Now, which is also written by Eckart Tolle.
            A New Earth presents concepts such as the pain-body and the ego in a more general form while
            The Power of Now introduces these concepts in a simpler way. It is confusing because The Power of Now
            was published first. </p>
        <p><b>Why is this a good read?</b></p>
        <p>
            This book is a powerful manifesto for those who are willing to follow the path of enlightenment.
            The author's teachings will lead you to accept the present moment as it is and be in peace with your life.
            This book will also teach you to be aware of your ego and thereby, learn to control it when it arises.
            It is a spiritual book that can be of good advice at any point in your life but
            specially in difficult moments.


        </p>

        </p>
     </div>
{%  endblock %}