{% extends "earth.html" %}

{% block title %}{{ super() }} - SpaceX Starlink{% endblock %}

{% block content %}
<h1>SpaceX Starlink</h1>
    <div class="bookRow">
        <p>Have you heard of Starlink? </p>
        <p><a href="https://www.youtube.com/watch?v=pgysWWwESfU">
            <img class="bigones" src="static/Pictures/starlink-system.jpg" alt="Starlink Network" width="60%" height="60%">
            </a></p>
            <p><small>https://www.canadasatellite.ca/StarLink-Satellite-Internet-Constellation.htm</small></p>
        <p>
            I thought that I was probably the last one to know about Starlink.
            Right after I watched the video, I started asking my engineer friends if they knew about this project.
            None of them were aware of it and did not seem interested by it.
            I, on the other hand, wanted to know more about this.
            I think it is incredible that we are alive to witness such ideas coming to life.
        <p>
            I will try to explain what I found in simple words:
            Starlink is a network of satellites that attempts to provide high speed internet across the globe.
            SpaceX aims to make internet connection available in places where is currently not possible.
            Starlink will look like a spider web wrapping up the entire world.
            The company claims that the satellites will be built in a way such that
            at the end of life, they will deorbit or burn which will prevent space debris.</p>
        <p>
            This project is all recent.
            According to Canada Satellite, on April 26th 2019, the Federal Communications Commission (FCC)
            approved 1500 Starlink satellites to be launched at an altitude of 550 kilometers.
            A year later, on April 22th 2020, SpaceX launched 60 Starlink satellites for the seventh time.
            If you did not know about this project, what do you think about it?
            I believe that other countries should be involved in such projects
            since it does not only involves one country but the whole globe.
            In my opinion, this project should be approved by an independent international technology regulation agency.
            Nevertheless, it is an  incredibly innovative project.
            I would like to know more about the risks and consequences of such technology.
        </p>
        <p>What a time to be alive!</p>
        <p><a href ="https://www.starlink.com/" target="_blank" rel="noopener noreferrer"><span> Click here to know more </span></a></p>

    </div>
{%  endblock %}
