<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title> {% block title %} THEGLOME {%  endblock %}</title>
        <link rel="icon" type="image/png" href="static/Pictures/logoG.png"/>
        <link href="static/main.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #sticky-footer{
                 color: black;
                 bottom: 0;
                 font-size: 15px;
                 text-align: left;
                 background-color: white;
                 position: relative;
                 font-family:Arial, Helvetica, sans-serif;
            }

        </style>
    {% endblock %}
</head>
<body>
{%  block navbar %}
    <header>
    <nav>
        <button id="mybtn">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <a href ="/diaries">DIARIES</a>
                <a href ="/atelier">L'ART ATELIER</a>
                <a href ="/books">BOOKS</a>
                <a href ="/collection">THE COLLECTION</a>
                <a href ="/movies">MOVIES</a>
                <a href ="/contact">CONTACT & MORE</a>
                <span class="close">&times;</span>
            </div>
        </div>
        <div class="landingPage">
            <a href='/'><img src="static/Pictures/logo11.jpg" alt="THEGLOME"></a>
        </div>
        <script>
            var modal = document.getElementById("myModal");
            var btn = document.getElementById("mybtn");
            var span = document.getElementsByClassName("close")[0];
            btn.onclick = function() {
              modal.style.display = "block";
            }

            span.onclick = function() {
              modal.style.display = "none";
            }
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>
    </nav>
    </header>
{% endblock %}
{%  block content %}

{% endblock %}
{% block footer %}
  <p id="sticky-footer">
      <small>Copyright &copy; 2020 Ana Catalan lucio | All Rights Reserved</small>
  </p>
{%  endblock %}
</body>
</html>
