<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title> {% block title %} THEGLOME {%  endblock %}</title>
        <link rel="icon" type="image/png" href="static/Pictures/logo.png"/>
        <link href="static/Main.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>
<body>
{%  block navbar %}
    <header>
    <nav>
        <button class="landingPage">
            <a href='/'> <img src="static/Pictures/logo.png" alt="THEGLOME" class="logo"> |THEGLOME</a>
        </button>
        <button id="mybtn">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <a href ="/Mind">Mind</a>
                <a href ="/Earth">Earth</a>
                <a href ="/Books">Books</a>
                <a href ="/Collection">Collection</a>
                <a href ="/Movies">Movies</a>
                <a href ="/Contact">Contact</a>
                <span class="close">&times;</span>
            </div>
        </div>
        <script>
            var modal = document.getElementById("myModal");
            var btn = document.getElementById("mybtn");
            var span = document.getElementsByClassName("close")[0];
            btn.onclick = function() {
              modal.style.display = "block";
            }

            span.onclick = function() {
              modal.style.display = "none";
            }
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>
    </nav>
    </header>
{% endblock %}
{%  block content %}
{% endblock %}
</body>
</html>
